/* SignIn.css */
.SignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .SignIn-logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .loginPara {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #submit-btn:hover {
    background-color: #0056b3;
  }
  
  p {
    font-size: 14px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  /* SignIn.css */
/* Style for input fields */
input[type="text"]:not(:focus),
input[type="password"]:not(:focus) {
  color: black; /* Default text color */
}

input[type="text"]:focus,
input[type="password"]:focus {
  color: blue; /* Text color while typing */
}
